<div class="card" style="width: 18rem;">
  <img src="https://raw.githubusercontent.com/MatioliSimone/img-Angular/main/audi%20a%204.jpg?token=AR2MDJUXLBGFMX5EARGQOSTAOW4IY" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Audi a4</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-outline-dark">vai alla</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://raw.githubusercontent.com/MatioliSimone/img-Angular/main/audi%20a%201.jpg?token=AR2MDJUNKMNZY2BHKMZBEB3AOW4KM" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Audi a1 </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://raw.githubusercontent.com/MatioliSimone/img-Angular/main/audi%20a%204.jpg?token=AR2MDJSCMYSLT57EKY63OTLAOW3CI" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Audi a4</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>